.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.navbar-toggler {
  display: none;
}

.animated-icon1 span {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  display: block;
}

.navbar-collapse {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: #555;
}

.navbar-toggler {
  display: block;
  cursor: pointer;
  border: none !important;
}

.navbar-collapse {
  position: absolute;
  right: 0;
  /* height: 20vh; */
  top: 20%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.navbar-collapse.open {
  transform: translateX(0);
}

/* Animation du burger menu lorsqu'il est ouvert */
.active span:first-child {
  transform: rotate(45deg) translate(30%, 30%);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:last-child {
  transform: rotate(-45deg) translate(30%, -30%);
}

/* Style du menu affiché/masqué */
navbar-collapse {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff; /* Couleur du fond du menu */
  padding: 18%;
  border: 1px solid #333; /* Bordure du menu */
  border-top: none;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0; /* Par défaut, le menu est masqué */
  visibility: hidden; /* Par défaut, le menu est invisible */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transition pour l'animation */
}

.nav-link {
  margin: 10px 0;
}

li {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 10%;
}

.icon-right {
  margin-left: 25px;
  justify-content: space-between;
}

.button {
  border: none !important;
}
